@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");

body {
  background-color: #202024;
  z-index: 1;
}
header {
  background-color: #42424f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
h1,
h2 {
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Passion One", cursive;
  margin: 10px;
}
p {
  color: #fff;
  font-weight: 200;
  line-height: 1.5;
  font-family: "Passion One", cursive;
  margin: 10px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.box {
  border-radius: 4px;
  margin-bottom: 2em;
  background: #2c2c32;
  text-align: center;
}
#main {
  padding: 4em 0 2em 0;
}

@media screen and (max-width: 736px) {
  #main {
    padding: 3em 0 1em 0;
  }
}
#main .inner {
  width: 100%;
  max-width: 80em;
  margin: 0;
}

@media screen and (max-width: 480px) {
  #main .inner {
    width: 95%;
  }
}
.thumbnails {
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-wrap: wrap;
}

.thumbnails .box {
  margin: 0 1em 2em 1em;
  width: 30%;
}

@media screen and (max-width: 1280px) {
  .thumbnails .box {
    width: 45%;
  }
}

@media screen and (max-width: 736px) {
  .thumbnails .box {
    width: 100%;
  }
}

.box {
  border-radius: 4px;
  margin-bottom: 2em;
  background: #2c2c32;
  text-align: center;
}

.box .image.fit {
  margin: 0;
}

.box .image img {
  border-radius: 4px 4px 0 0;
}

.box .inner {
  padding: 1.5em;
  width: 100% !important;
}

@media screen and (max-width: 480px) {
  .box .inner {
    padding: 1em;
  }
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.button {
  appearance: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #70c7be;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  flex: 1;
  margin: 0 5px;
}

.button:hover {
  background-color: #82cec6;
}

.button:active {
  background-color: #5ec0b6;
}

.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
  font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
.button.big {
  font-size: 1.35em;
}

@media screen and (max-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
  }
}

label {
  color: #fff;
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 1em 0;
}

input[type="text"] {
  appearance: none;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: none;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:focus {
  height: 2.75em;
}

.bgform {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
  filter: blur(5px);
  transition: 0.3s;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 400px;
  height: 250px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transition: 0.3s;
}

.form h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.crca {
  display: flex;
  justify-content: space-between;
}
.elecselector {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 0.82rem;
  font-weight: 400;
  color: #444;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  appearance: none;
}

#menutoggler {
  font-family: "Euclid Circular A", Poppins;
  color: #f9f9f9;
  background: #202024;
  background-size: 400%;
  background-repeat: no-repeat;
  background-position: 0% 10%;
}
.burger {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  align-items: center;
}

.burger,
.menu {
  position: fixed;
}

.burger {
  z-index: 3;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 88px;
  height: 88px;
  background-image: url("../images/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#menutoggler.open .burger {
  background-image: url("../images/close.svg");
}

.menu {
  z-index: 2;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 400px;
  height: calc(100% - 20px);
  background: rgba(32, 32, 36, 0.844);
  translate: -100% 0;
  transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.menu nav {
  opacity: 0;
}

@keyframes menu-in {
  0% {
    clip-path: ellipse(60% 60% at 0% 50%);
  }
  100% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }
}

#menutoggler.open .menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
  animation: menu-in 0.375s;
}

#menutoggler.open .menu nav {
  opacity: 1;
}

.menu nav:hover a {
  opacity: 0.25;
}

.menu nav a:hover {
  opacity: 1;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 32px;
  font-family: "Euclid Circular A";
  padding: 20px 0;
  width: 300px;
  text-decoration: none;
  transition: 0.4s;
}

.menu a::before,
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: 0.4s;
}

.menu a::before {
  opacity: 0;
  background: rgb(255 255 255 / 20%);
}

.menu a::after {
  transform: scaleX(0);
  transform-origin: 0% 50%;
  background: #f7f7f7;
}

.menu a:hover::before {
  opacity: 1;
}

.menu a:hover::after {
  transform: scaleX(1);
}

#menutoggler.open .menu a {
  animation: appear 0.25s backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }
  100% {
    opacity: 1;
  }
}

.progressIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 400px;
  height: 250px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transition: 0.3s;
}
